
* {
  text-decoration: none !important;

}

.main_index_container {
  color: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.index_container {
  background-color: #2C2C2C;

}

.day {

}

.match_index_card {
  background-color: white;
  border-radius: 5%;
  width: 90vw;
  height: 300px;
  margin: 20px 5%;
}

.event {
  height: 40%;
  background-image: url("football_fifa_worldcup.png");
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.img_event_type {
  object-fit: none;


}

.event_competition_type {
  color: white;
  font-weight: bold;
  text-align: center;

}

.next_event {
  height: 60%;

}

.contest {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.team {
  display: flex;
  width: 32%;
  align-items: center;
  text-align: center;
  font-family: "Young Serif", sans-serif;
  text-decoration: none;
}

.team_first {
  display: flex;
  flex-direction: row;
}

.team_last {
  display: flex;
  flex-direction: row-reverse;
}

.size_versus {
  height: 20px;
  width: 20px;

}

.versus {
  width: 32%;
  text-align: center;

}

.team img {
  height: 40px;
  width: 40px;

}

.channel {
  display: flex;
  flex-direction: row;
}

.channel img {
  width: 60px;
}
