.place_show_container {
  height: 100vh;

  .name {
  color: whitesmoke;
  }

  .sentence{
  color: whitesmoke;
  }
}



.mapboxgl-canvas {
  // position: sticky;
  // top: 0;
}


.btn_show{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255,122,0);
  background: linear-gradient(90deg, rgba(255,122,0,1) 0%, rgba(255,139,8,1) 27%, rgba(255,200,36,1) 100%);
  width: 322px;
  height: 51px;
  border-radius: 56px;
  position: sticky;
  bottom: 95px;
  margin-top: -83px;
  margin-left: 48px;
  a{
    text-decoration: none;
    color: black;
  }

}
