.btn_chatrooms{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255,122,0,1) 0%, rgba(255,139,8,1) 27%, rgba(255,200,36,1) 100%);
  width: 322px;
  height: 51px;
  border-radius: 56px;
  // padding-top: 7px;
  margin-top: 30px;
  z-index: 12;
  a{
    text-decoration: none;
    color: black;
  }


}
