body {
  background-color: rgb(44, 44, 44);
}

.game-flex-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
  font-size: 10px;
  margin-top: 70px;
  height: 60px;
  position: relative;
  color: whitesmoke;

  .vs {
    position: absolute;
    left: 52%;
    top: 30px;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: 900;
    color: whitesmoke;
  }
  .team p {
    margin: 0;
    margin-left: 1rem;
    font-size: 15px;
  }
}

.place {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 44, 44);
  margin: 10px;
}

.card{
  margin: 5px;
}

.picture-team-events {
  width: 40px;
  height: 40px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.picture-show-events{
  width: 100%;
}

.align{
  display: flex;
  justify-content: space-between;
}

.hour{
  justify-content: center;
  color: whitesmoke;
  text-align: center;
  
}
