<div class="navbar-lewagon">
  <div class="container-fluid">

    <div class="navbar_watchons" >
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <% @user = current_user %>
          <li class="nav-item active">
            <%= link_to root_path, class: "navbar-brand" do %>
            <i class="fa-solid fa-house"></i>
            <% end %>
            <%= link_to chatroom_path(@place.chatrooms.last),class: "navbar-brand" do %>
            <i class="fa-solid fa-comments"></i>
            <% end %>
            <%= link_to  destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-brand" do %>
            <i class="fa-solid fa-user"></i>
            <% end %>
          </li>
            </div>
        <% else %>
          <li class="nav-item">
            <%= link_to  new_user_session_path, class: "nav-link" do %>
            <i class="fa-solid fa-user"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
