<div class="back_image">
  <div class= "logo_homepage"></div>
  <div class= "text_homepage">
  <h3>On a pas le même <STRONG>maillot</STRONG></h3>
  <h3>mais on a la même  <strong>pression</strong> </h3>
  </div>

  <div class= "btn_homepage"><%= link_to 'Commencer', events_path %></div>
  <div class="filtre_grey"></div>
</div>
