.chatroom {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.btn_envoi{
  height: 38px;
  background-color: rgb(44, 44, 44);
  color: white;
}

.chatroom_name{
  text-align: center;
}

#backlogo_chatroom{
  margin-top: 11px;
}
