.navbar-lewagon {
  background-color: black;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fa-house{
  color:$yellow;
  font-size: 25px;
}
.fa-message{
  color: $yellow;
  font-size: 25px;
}

.fa-user{
  color: $yellow;
  font-size: 25px;
}
.navbar_watchons{
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-item{
  display: flex;
  justify-content: space-around;
}
